
.App {
  text-align: center;
  font-size: 8px!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  margin: 10px 5px;
  font-size: 0.9rem!important;
}
.table td, .table th{
  font-size: 0.9rem;
  padding: 0.1rem 10px!important;
  
}
.text-right{
  text-align: right;
}
.container{
  margin: 10px;
  padding: 5px;
}